@import url('https://fonts.googleapis.com/css?family=Bowlby One');

body {
    font-family: 'Bowlby One';
    color: black;
    
}

/* * {
    box-sizing: border-box;  
} */


#options {
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
  width: 85%;
  
  margin: auto;
  background: #f00000;
  color: white;
  height: 10rem;
  border: solid;
  border-top-left-radius: 10vw;
  border-top-right-radius: 10vw;
  font-size: 1vw;
  
}

.hold-together {
  flex: 2.5;
  display: flex;
  flex-wrap: wrap;
  /* border: 1px white solid; */
  /* max-width: 100%; */
  min-width: 20%;

}

#optional-filters {
  border: solid 2px white;
  flex: 2;
  /* flex-wrap: wrap; */
  width: 90%;
  padding: 1rem 1rem 1rem 1rem;
}

.type_checkbox {
  
  margin-left: 1rem;
}

.submission {
  flex: 1;
  margin: 3rem 0 5.5rem 4rem;
  
  /* padding: 5rem; */
  
}

#imageResults {
  width: 90%;
  margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.pokemon-card {
    width: 100%;
    
}
.pokemon-card:hover {
  width: 110%;
}
.card-container {
    
    padding: 1rem;
    flex: 1;
    margin: auto;
    min-width: 20%;
    width: 25%;
    max-width: 23%;
    
}


@media only screen and (max-width: 1150px) and (min-width: 651px) {
    .card-container {
      
      min-width: 45%;
      
    }
    .pokemon-card {
      /* min-width: 50%; */
      margin-left: 2rem;
      width: 75%;
      
    }
    .pokemon-card:hover {
      width: 85%;
      
    }

    #options {
      
      height: 15rem;
      font-size: 1.5vw;
      
    }

    .optional-filters {
      max-width: 70%;
      
    }

    .submission {
      flex: 1;
      margin-left: 2rem;
      margin-right: 1rem;
      
    }
    .hold-together {
      
      min-width: 30%;
    
    }
  }

  @media only screen and (max-width: 650px) {
    
    .card-container {
      
      min-width: 70%;
      margin: auto;
    }

    .pokemon-card {
      /* min-width: 70%; */
      width: 70%;
      margin-left: 3rem;
    }
    .pokemon-card:hover {
      width: 80%;
    }

    
    #options {
      
      height: 20rem;
      
      font-size: 2.25vw;
      
    }
    .submission {
      flex: 1;
      margin-left: .5rem;
      margin-right: 0;
      
    }
    .hold-together {
      
      min-width: 48%;
    
    }
  }

  
   
  